

<section class="image-head-wrapper" style="background-image: url('../theme/images/banner3.jpg');">
                <div class="inner-wrapper">
                    <h1>About us</h1>
                </div>
            </section>
            <div class="clearfix"></div>


            <section class="about-block">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5 about-left">
                            <p><label>Goals</label> We  <span>Strive to Achive</span></p>
                        </div>
                        <div class="col-md-7 about-right">
                            <h3>Vision and Goals</h3>
                            <p>“Our vision is to improve the customer satisfaction and experience in experienced employees by offering a website which will help provide means to browse through the registered individuals until our high-valued clients find the right person according to their criteria”.
                                The list of goals that relate to our vision above is given. </p>
                            <ul class="list-unstyled list-inline">
                                <li>“To release an online website called Cleanasia for hiring people for the job”</li>
                                <li>“To upgrade our customer experience by providing a better platform”</li>
                                <li>“To provide opportunities for job seekers who are looking for work”</li>
                                
                            </ul>
                            <span>We strive to provide better services and achieve Customer Satisfaction</span>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </section>