@{
	ViewData["Title"] = "Home Page";
}

@model IEnumerable<Cleanasia.Models.CategoryModel>

<!-- Start Banner Hero -->

<div id="myCarousel1" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->

	<ol class="carousel-indicators">
		<li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel1" data-slide-to="1"></li>
		<li data-target="#myCarousel1" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner">
		<div class="item active">
			<img src="~/theme/images/banner.png" style="width:100%; height: 500px" alt="First slide">
			<div class="carousel-caption">
				<h1>Cleanasia<br>Services Providers</h1>
			</div>
		</div>
		<div class="item">
			<img src="~/theme/images/banner2.png" style="width:100%; height: 500px" alt="Second slide">
			<div class="carousel-caption">
				<h1>headline</h1>
				<p class="container">

				</p>
			</div>
		</div>
		<div class="item">
			<img src="~/theme/images/banner3.png" style="width:100%; height: 500px" alt="Third slide">
			<div class="carousel-caption">
				<h1>headline</h1>
				<p class="container">

				</p>
			</div>
		</div>

	</div>
	<a class="left carousel-control" href="#myCarousel1" data-slide="prev"> <img src="~/theme/images/icons/left-arrow.png" onmouseover="this.src = '../theme/images/icons/left-arrow-hover.png'" onmouseout="this.src = '../theme/images/icons/left-arrow.png'" alt="left"></a>
	<a class="right carousel-control" href="#myCarousel1" data-slide="next"><img src="~/theme/images/icons/right-arrow.png" onmouseover="this.src = '../theme/images/icons/right-arrow-hover.png'" onmouseout="this.src = '../theme/images/icons/right-arrow.png'" alt="left"></a>

</div>
<div class="clearfix"></div>

<!--service block--->
<section class="service-block">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-3 col-xs-6 width-50">
				<div class="service-details text-center">
					<div class="service-image">
						<img alt="image" class="img-responsive" src="~/theme/images/icons/wifi.png">
					</div>
					<h4><a>Trusted Employees</a></h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 width-50">
				<div class="service-details text-center">
					<div class="service-image">
						<img alt="image" class="img-responsive" src="~/theme/images/icons/key.png">
					</div>
					<h4><a>Better Services</a></h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 mt-25">
				<div class="service-details text-center">
					<div class="service-image">
						<img alt="image" class="img-responsive" src="~/theme/images/icons/car.png">
					</div>
					<h4><a>immediate Response</a></h4>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-6 mt-25">
				<div class="service-details text-center">
					<div class="service-image">
						<img alt="image" class="img-responsive" src="~/theme/images/icons/user.png">
					</div>
					<h4><a>customer support</a></h4>
				</div>
			</div>
		</div>
	</div>
</section>

<!--gallery block--->
<section class="gallery-block gallery-front">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="gallery-image">
					<img class="img-responsive" src="~/theme/images/room1.png">
					<div class="overlay">
						<a class="info pop example-image-link img-responsive" href="~/theme/images/room1.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
						<p><a>delux room</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="gallery-image">
					<img class="img-responsive" src="~/theme/images/room2.png">
					<div class="overlay">
						<a class="info pop example-image-link img-responsive" href="~/theme/images/room2.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
						<p><a>super room</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="gallery-image">
					<img class="img-responsive" src="~/theme/images/room3.png">
					<div class="overlay">
						<a class="info pop example-image-link img-responsive" href="~/theme/images/room3.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
						<p><a>single room</a></p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
				<div class="gallery-image">
					<img class="img-responsive" src="~/theme/images/room4.png">
					<div class="overlay">
						<a class="info pop example-image-link img-responsive" href="~/theme/images/room4.png" data-lightbox="example-1"><i class="fa fa-search" aria-hidden="true"></i></a>
						<p><a>double room</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--offer block-->
<section class="vacation-offer-block">
	<div class="vacation-offer-bgbanner">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-sm-6 col-xs-12">
					<div class="vacation-offer-details">
						<h1>Your vacation Awaits</h1>
						<h4>Lorem ipsum dolor sit amet, conse ctetuer adipiscing elit.</h4>
						<button type="button" class="btn btn-default">Choose a package</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--End-->

<!-- Services -->
<section class="resort-overview-block">
	<div class="latest-products">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div style="padding-bottom: 50px;" class="section-heading">
						<h1>Frequently Used Services</h1>
					</div>
				</div>
				@foreach (var item in Model)
				{
					<div class="col-md-4">
						<div class="product-item">
							<a href="#"><img src="../../uploadsPic/@item.picture" height="200" alt=""></a>
							<div class="down-content">
								<a href="#"><h4>@item.Name</h4></a>
								<p>@item.Discription</p>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</section>

<!-----blog slider----->
<!--blog trainer block-->
<section class="blog-block-slider">
	<div class="blog-block-slider-fix-image">
		<div id="myCarousel2" class="carousel slide" data-ride="carousel">
			<div class="container">
				<!-- Wrapper for slides -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel2" data-slide-to="1"></li>
					<li data-target="#myCarousel2" data-slide-to="2"></li>
				</ol>
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="blog-box">
							<p>I have used the services and really satisfied by the quality of the work and the amount of coorporation.</p>
						</div>
						<div class="blog-view-box">
							<div class="media">
								<div class="media-left">
									<img src="~/theme/images/client1.png" class="media-object">
								</div>
								<div class="media-body">
									<h3 class="media-heading blog-title">Walter Hucko</h3>
									<h5 class="blog-rev">Satisfied Customer</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="blog-box">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
						</div>
						<div class="blog-view-box">
							<div class="media">
								<div class="media-left">
									<img src="~/theme/images/client2.png" class="media-object">
								</div>
								<div class="media-body">
									<h3 class="media-heading blog-title">Jules Boutin</h3>
									<h5 class="blog-rev">Satisfied Customer</h5>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="blog-box">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only</p>
						</div>
						<div class="blog-view-box">
							<div class="media">
								<div class="media-left">
									<img src="~/theme/images/client3.png" class="media-object">
								</div>
								<div class="media-body">
									<h3 class="media-heading blog-title">Attilio Marzi</h3>
									<h5 class="blog-rev">Satisfied Customer</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
</section>
