@{
	ViewData["Title"] = "Privacy Policy";
}

<section class="about-block">
	<div class="container">
		<h1>@ViewData["Title"]</h1>
		<p>
			We collect or receive information in several different ways. In many cases you choose what information to provide.

			A. <strong>Directly from You. </strong>We collect a variety of information from you when you provide it to us directly or when we request it from you. Some examples of these instances are as follows:
			
			<ul>
				<li>Personal Data that you Provide to Us. We receive, store, and collect any Personal Data you provide to us directly through one of our websites or give us in any other way, including business cards, emails, and telephone communications. For example, when you fill out and submit a registration form to become a TechTarget member, download a specific piece of content, request a walkthrough or demonstration of one of our products or services, or if you have expressed interest in a trade show in which TechTarget participated or hosted and had your badge scanned as part of your attendance at such event, then we received your contact information including your company, name, work address, business email, phone number, job information, and geographic location. We may ask you for similar information at other times, such as when you apply for a job through our websites or use our “Contact Us” or “Ask an Expert” forms.</li>
				<li>Information About Others Who May be Interested in Our Content or Websites. Our websites may include an “email-a-friend” or “share this” feature, which allows someone to email or send content to a third party. If you utilize the feature, we will only use the email address of the intended recipient for purposes of emailing the respective content to that person. You should never share another person’s Personal Information with others without first receiving their permission.</li>
				<li>Member Generated Content. Some websites feature member generated content in the form of a member review section or forum communities. In order to interact in these forums, an individual must first complete the applicable registration form. The information provided by the individual may be displayed in the individual’s public profile in our forums and can be viewed by all visitors to the website. To ensure individuals’ privacy, we do not display any the email addresses of individuals who have commented in such forums or who have contributed such content.</li>
			</ul>
			B. <strong>Third Party Service Providers and Partners.</strong> We engage third party service providers and partners to provide us with information, and we also use publicly available sources, to supplement our member account information to help improve personalization of our Premium Services. For example:
			<ul>
				<li>
					Supplementary and Third Party Information. We may collect, obtain, or supplement your Personal Data from third parties who license it to us or otherwise provide it to us. This may include information provided through telephone, mailings, or events, from customers, vendors, suppliers, third parties, or commercially available sources (e.g., data brokers, data aggregators, public databases, etc.), and from third party partners or affiliates running co-branded campaigns or membership initiatives. For example, we may contract with a third-party partner or affiliate to contact you by email or telephone to determine if you would be interested in certain content tailored to your professional interest and/or becoming a member.
				</li>
				<li>Public and Social Network Sources. We may collect or obtain your Personal Data from publicly accessible sources like corporate websites, business listings, or social networking platforms. You can opt-out of the third parties’ (such as a social media network or advertiser platform) collection and use of information for ad targeting by updating your account ad settings with the third party or by following the instructions regarding Tracking Technologies described in the paragraph below.</li>
			</ul>
		</p>	
	</div>
</section>