@model Cleanasia.Models.ServiceModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script>
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        $("#Pictures").val("");
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

</script>

<h1>Edit</h1>

<h4>ServiceModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" asp-controller="Service">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="ProductCategoryID" class="control-label"></label>
                <select asp-for="ProductCategoryID" class="form-control" asp-items="ViewBag.ProductCategoryID"></select>
                <span asp-validation-for="ProductCategoryID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discription" class="control-label"></label>
                <input asp-for="Discription" class="form-control" />
                <span asp-validation-for="Discription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="picture" class="control-label"></label>
                <img style="height:auto" src="../../uploadsPic/@Model.picture" id="output" class="form-control" placeholder="Upload Photo" />
                <input type="file" name="formFile" accept="image/*" onchange="loadFile(event)">
                <span asp-validation-for="picture" class="text-danger"></span>
            </div>
            <input type="hidden" id="Pictures" name="picture" value="@Model.picture"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
