@page
@model RegisterModel

<h1>@ViewData["Title"]</h1>

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
	<section class="h-100 bg-light">
		<div class="container py-5 h-100">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col">
					<div class="card card-registration my-4">
						<div class="row g-0">
							<div class="col-xl-6 d-none d-xl-block">
								<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
									 alt="Sample photo" class="img-fluid"
									 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
							</div>
							<div class="col-xl-6">
								<div class="card-body p-md-5 text-black">
									<h3 class="mb-5 text-uppercase">SignUp</h3>
									<h4>Create a new account.</h4>
									<hr />
									<div asp-validation-summary="All" class="text-danger"></div>
									<div class="row">
										<div class="col-md-6 mb-4">
											<div class="form-group">
												<label asp-for="Input.FirstName"></label>
												<input asp-for="Input.FirstName" class="form-control" />
												<span asp-validation-for="Input.FirstName" class="text-danger"></span>
											</div>
										</div>
										<div class="col-md-6 mb-4">
											<div class="form-group">
												<label asp-for="Input.LastName"></label>
												<input asp-for="Input.LastName" class="form-control" />
												<span asp-validation-for="Input.LastName" class="text-danger"></span>
											</div>
										</div>

									</div>
									<div class="form-group">
										<label asp-for="Input.Address"></label>
										<input asp-for="Input.Address" class="form-control" />
										<span asp-validation-for="Input.Address" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label asp-for="Input.Email"></label>
										<input asp-for="Input.Email" class="form-control" />
										<span asp-validation-for="Input.Email" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label asp-for="Input.CNIC"></label>
										<input asp-for="Input.CNIC" class="form-control" />
										<span asp-validation-for="Input.CNIC" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label asp-for="Input.Password"></label>
										<input asp-for="Input.Password" class="form-control" />
										<span asp-validation-for="Input.Password" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label asp-for="Input.ConfirmPassword"></label>
										<input asp-for="Input.ConfirmPassword" class="form-control" />
										<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
									</div>
									<button style="float:right" type="submit" class="btn btn-primary">Register</button>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</form>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}


	@*<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
		<section class="h-100 bg-light">
			<div class="container py-5 h-100">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col">
						<div class="card card-registration my-4">
							<div class="row g-0">
								<div class="col-xl-6 d-none d-xl-block">
									<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
									 alt="Sample photo" class="img-fluid"
									 style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
								</div>
								<div class="col-xl-6">
									<div class="card-body p-md-5 text-black">
										<h3 class="mb-5 text-uppercase">SignUp</h3>
										<div class="row">
											<div class="col-md-6 mb-4">
												<div class="form-outline">
													<label class="form-label" for="form3Example1m">First name</label>
													<input type="text" id="form3Example1m" name="FirstName" class="form-control form-control-lg" />
												</div>
											</div>
											<div class="col-md-6 mb-4">
												<div class="form-outline">
													<label class="form-label" for="form3Example1n">Last name</label>
													<input type="text" id="form3Example1n" name="LastName" class="form-control form-control-lg" />
												</div>
											</div>
										</div>

										<div class="form-outline mb-4">
											<label class="form-label" for="form3Example8">Address</label>
											<input type="text" id="form3Example8" name="Address" class="form-control form-control-lg" />
										</div>

										<div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

											<h6 class="mb-0 me-4">Gender: </h6>

											<div class="form-check form-check-inline mb-0 me-4">
												<input class="form-check-input" type="radio" name="Gender" id="femaleGender"
												   value="Female" />
												<label class="form-check-label" for="femaleGender"> Female</label>
											</div>

											<div class="form-check form-check-inline mb-0 me-4">
												<input class="form-check-input" type="radio" name="Gender" id="maleGender"
												   value="Male" />
												<label class="form-check-label" for="maleGender"> Male</label>
											</div>

										</div>

										<div class="form-outline mb-4">
											<label class="form-label" for="form3Example9">CNIC number</label>
											<input type="text" id="form3Example9" name="CNIC" class="form-control form-control-lg" />
										</div>

										<div class="form-outline mb-4">
											<label class="form-label" for="form3Example97">Email ID</label>
											<input type="text" id="form3Example97" name="Email" class="form-control form-control-lg" />
										</div>

										<div class="form-outline mb-4">
											<label class="form-label" for="form3Example90">Password</label>
											<input type="text" id="form3Example90" name="Password" class="form-control form-control-lg" />
										</div>

										<div class="form-outline mb-4">
											<label class="form-label" for="form3Example99">Confirm password</label>
											<input type="text" id="form3Example99" class="form-control form-control-lg" />
										</div>

										<div class="d-flex justify-content-end pt-3">
											<button type="submit" class="btn btn-warning btn-dark ms-2">Submit</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</form>*@