
<!doctype html>
<html lang="en">
<head>
	<title>Sidebar 02</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/AdminTheme/css/style.css">

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />

</head>
<body>

	<div class="wrapper d-flex align-items-stretch">
		<nav id="sidebar">
			<div class="p-4 pt-5">
				<h1><a asp-controller="Home" asp-action="Index" class="logo">Home</a></h1>
				<ul class="list-unstyled components mb-5">
					<li>
						<a asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
					</li>
					<li>
						<a asp-area="" asp-controller="Home" asp-action="OrderList">Order List</a>
					</li>
					<li>
						<a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
						<ul class="collapse list-unstyled" id="pageSubmenu">
							<li>
								<a asp-area="" asp-controller="Category" asp-action="Index">Categories</a>
							</li>
							<li>
								<a asp-area="" asp-controller="Category" asp-action="create">Add Category</a>
							</li>
							<li>
								<a asp-area="" asp-controller="Service" asp-action="Index">Service</a>
							</li>
							<li>
								<a asp-area="" asp-controller="Service" asp-action="Create">Add Service</a>
							</li>
							<li>
								<a asp-area="" asp-controller="Role" asp-action="Create">Add Role</a>
							</li>
						</ul>
					</li>
					<li>
						<a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
					</li>
				</ul>

			</div>
		</nav>

		<!-- Page Content  -->
		<div id="content" class="p-4 p-md-5 pt-5">
			<div style="max-width:100%" class="container">
				<main role="main" class="pb-3">
					@RenderBody()
				</main>
			</div>
		</div>
	</div>



	<script src="~/AdminTheme/js/jquery.min.js"></script>
	<script src="~/AdminTheme/js/popper.js"></script>
	<script src="~/AdminTheme/js/bootstrap.min.js"></script>
	<script src="~/AdminTheme/main.js"></script>
</body>
</html>